
body {
    font-family: Poppins, sans-serif;
    background-image: url(./ChatGPT\ Image\ Nov\ 28\,\ 2025\,\ 10_49_22\ AM.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 20px;
    text-align: center;

}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    z-index:9999;
} 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(99, 2, 99);
    color: white;
    padding: 14px 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.main{
    margin-top: 100px;
    color: rgb(59, 1, 42);
}

.nav-links li { 
    color: white; 
    font-weight: 500;
 }
.nav-links a { 
    color: white; 
    text-decoration: none; 
}


.add-btn {
    background:rgb(90, 10, 90);
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    margin: 10px;
}


#goalsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    width:100%;
    margin-top: 30px;
}
.goal-card {
    width: 300px; 
    background:rgba(255, 255, 255, 0.26);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    padding: 18px;
    border-radius: 16px;
}

.progress-circle {
    width: 120px; height: 120px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.btn-update { 
    background: #0ea5e9; 
    color: white; 
    padding:10px; 
    border:none; 
    border-radius: 5px; 
}
.btn-edit { 
    background: #f59e0b; 
    color: white; 
    padding:10px 15px; 
    border:none; 
    border-radius: 5px;
}
.btn-delete { 
    background: #dc2626; 
    color: white; 
    padding:10px; 
    border:none; 
    border-radius: 5px;}

.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(31, 30, 30, 0.4);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background:linear-gradient(135deg, #4c167c, #9e45ce) ;
    padding: 25px;
    width: 320px;
    border-radius: 14px;
}

.popup input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #bbb;
}
.save-btn{
    padding:5px 8px;
    border: none;
    border-radius: 3px;
    background-color: rgb(44, 193, 204);
}
.close-btn{
    padding:5px 8px;
    border:none;
    border-radius: 3px;
    background-color:rgb(240, 133, 149);
}
.contact-section {
    text-align: center;
    /* /* background: rgba(255,255,255,0.15); */
    backdrop-filter: blur(6px);
     background-color: rgba(0,0,0,0.25);
    border-radius: 20px;
    margin-top: 10px;
}


.contact-box {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    color: white;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.footer {
    margin-top: 85px;
    padding: 10px;
    background-color: rgba(0,0,0,0.25);
    color: white;
    text-align: center;
    font-size: 18px;
    backdrop-filter: blur(6px);
    bottom: 0px;
}
.footer h1{
    color: black;
}


/* login page css */

.login-container {
    margin: 100px auto;
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(12px);
    padding: 25px;
    border-radius: 14px;
    width: 330px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.login-container input {
    width: 80%;
    padding: 13px;
    margin: 10px 0; 
    border-radius: 8px;
    border: 1px solid #bbb;
}

.auth-btn {
    width: 90%;
    padding: 13px;
    background:rgba(34, 32, 32, 0.45);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.password-box {
    position: relative;
    width: 92%; 
    margin: auto;
}  
.password-box input {
    width: 90%;
    /* padding-right: 20px; */
} 
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 19px;
}

.toggle {
   
    font-size: 14px;
}

.toggle span {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}



/* Tablets & medium screens */
@media (max-width: 1024px) {
    .navbar {
        padding: 10px 15px;
    }
    .nav-links {
        gap: 15px;
    }
    .goal-card {
        padding: 15px;
    }
}

/* Mobile large screens */
@media (max-width: 768px) {
    nav {
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        gap: 2px;
        text-align: center;
        height: 150px;
    }
    .nav-links {
        flex-direction: column;
        gap: 5px;
    }
    body {
        padding-top: 120px;
    }
    .goals-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    
    }
    .main {
        margin-top: 70px;
    }
    .contact-box{
        flex-direction: column;
        gap: 3px;
    }
    .footer{
        font-size: medium;
    }
}

/* Mobile small screens */
@media (max-width: 480px) {
    body {
        padding: 8px;
        padding-top: 150px;
    }
    .navbar h2 {
        font-size: 20px;
    }
    .add-btn {
        padding: 10px 16px;
        font-size: 15px;
    }
    .login-container {
        width: 90%;
        padding: 15px;
    }
    #goals-container{
        margin-left:50px;
    }
    .goal-card {
        padding: 14px;
    }
    .progress-circle {
        width: 90px;
        height: 90px;
        font-size: 14px;
    }
    .contact-box {
        flex-direction: column;
        gap: 5px;
    }
    .footer{
        margin-top: 100px;
        margin-bottom: 1px;
    }
}
